/* --- CUSTOM VARIABLE --- */
:root {
    /* --primary-color: #1f1f1f; */
    --primary-color: hsl(0, 0%, 12%);
    --secondary-color: hsl(75, 94%, 57%);
    --background-color: hsl(0, 0%, 8%);
    --gray-color: hsl(0, 0%, 20%);
    --white-color: hsl(0, 0%, 100%);
}

/* --- GLOBAL STYLES --- */
* { box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    background-color: var(--background-color); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

h1, p {
    color: var(--white-color);
}

p {
    margin-bottom: 20px;
    font-size: 14px;
}

img {
    border-radius: 100%;
    width: 7vw;
    margin-bottom: 10px;
}


/* --- MAIN --- */

.container {
    max-width: 30vw;
    background-color: var(--primary-color);
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 251, 251, 0.1);
    border-radius: 8px;
    padding: 30px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    max-height: 83vh;
}

.subtitle {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.profile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 8px 0;
    background-color: var(--gray-color);
    font-size: .9em;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.button:active, .button:hover {
    transform: scale(1.1); /* Slightly scale down the button when pressed */
    background-color: var(--secondary-color); /* Change background color on press */
    color: var(--gray-color);
}


/* --- FOOTER --- */

.attribution { 
    font-size: 11px; 
    color: var(--white-color);
    padding: 20px 0;
    margin-top: auto; /*Ensures it sticks to the bottom*/
}

.footer, .attribution {
    width: 100%;
    text-align: center; /* Ensures text is centered */
}

.footer a, .attribution a{
    text-decoration: none;
    color: greenyellow;
}


/* --- MEDIA QUERY (RESPONSIVE) */

@media screen and (max-width: 768px) {
    .container {
        margin-top: 30px;  /*Adjusts the margin-top for smaller screens*/
        max-width: 95vw;  /*Adjusts the width for smaller screens*/
    }

    img {
        width: 20vw;
    }   
    
}